<div class="row">
    <div class="col-lg-12">
        <div class="main-profile">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-2">
                    <img [src]="authService.getAuthenticatedUser()?.avatarUrl" alt="" style="border-radius: 23px;">
                    <app-icon-selector [chosenAsset]="authService.getAuthenticatedUser()?.avatarId" (iconSelected)="onIconSelected($event)"></app-icon-selector>
                </div>
                <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
                        <h4>{{ localStorageService.getItem("userName") }}</h4>
                        <p>You haven't played any games yet; Click the button below to start or join a game!</p>
                        <div class="main-border-button">
                            <a href="#">Game Library</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <app-leaderboard [userId]="authService.getAuthenticatedUser()?.id"></app-leaderboard>
                </div>
                <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="heading-section">
                                    <h4>Your Games</h4>
                                    <p>You haven't played any games yet!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row clips">
                            <div class="col-2">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/clip-01.jpg" alt="" style="border-radius: 23px;">
                                        <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                                    </div>
                                    <div class="down-content">
                                        <h4><img src="/assets/images/expansions/LightSaber_D.png" class="icon" alt=""> Dark Side Player</h4>
                                        <span><i class="fa fa-eye"></i> 250</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/clip-02.jpg" alt="" style="border-radius: 23px;">
                                        <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                                    </div>
                                    <div class="down-content">
                                        <h4><img src="/assets/images/expansions/LightSaber_L.png" class="icon" alt=""> Light Side Player</h4>
                                        <span><i class="fa fa-eye"></i> 183</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/clip-03.jpg" alt="" style="border-radius: 23px;">
                                        <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i
                                                class="fa fa-play"></i></a>
                                    </div>
                                    <div class="down-content">
                                        <h4><img src="/assets/images/expansions/LightSaber_D.png" class="icon" alt=""> Dark Side Player</h4>
                                        <span><i class="fa fa-eye"></i> 141</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/clip-04.jpg" alt="" style="border-radius: 23px;">
                                        <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i
                                                class="fa fa-play"></i></a>
                                    </div>
                                    <div class="down-content">
                                        <h4><img src="/assets/images/expansions/LightSaber_L.png" class="icon" alt=""> Light Side Player</h4>
                                        <span><i class="fa fa-eye"></i> 91</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="item">
                                    <div class="thumb">
                                        <img src="assets/images/clip-04.jpg" alt="" style="border-radius: 23px;">
                                        <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i
                                                class="fa fa-play"></i></a>
                                    </div>
                                    <div class="down-content">
                                        <h4><img src="/assets/images/expansions/LightSaber_D.png" class="icon" alt=""> Dark Side Player</h4>
                                        <span><i class="fa fa-eye"></i> 91</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a class="styled-button" href="#">Load More Clips</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>