<form (ngSubmit)="registerAction()" (click)="$event.stopPropagation()">
    <div class="row">
        <div class="col-12">
            <app-icon-selector (iconSelected)="onIconSelected($event)"></app-icon-selector>
            <div *ngIf="selectedAvatar.id <= 0" class="flex flex-col">
                <small class="alert alert-danger">
                    Please select an avatar
                </small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-2 col-6">
            <label for="firstname" class="form-label">First Name
            </label>
            <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="firstname" />
            <div *ngIf="validationErrors?.firstname != undefined" class="flex flex-col">
                <small class="text-danger">
                    {{validationErrors.firstname[0]}}
                </small>
            </div>
        </div>
        <div class="mb-2 col-6">
            <label for="lastname" class="form-label">Last Name
            </label>
            <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="lastname" />
            <div *ngIf="validationErrors?.lastname != undefined" class="flex flex-col">
                <small class="text-danger">
                    {{validationErrors.lastname[0]}}
                </small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-2 col-12">
            <label for="email" class="form-label">
                Email address
            </label>
            <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="email" />
            <div *ngIf="validationErrors?.email != undefined" class="flex flex-col">
                <small class="text-danger">
                    {{validationErrors.email[0]}}
                 </small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-2 col-6">
            <label for="password" class="form-label">Password
            </label>
            <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password" />
            <div *ngIf="validationErrors?.password != undefined" class="flex flex-col">
                <small class="text-danger">
                    {{validationErrors.password[0]}}
                </small>
            </div>
        </div>
        <div class="mb-2 col-6">
            <label for="confirm-password" class="form-label">Confirm Password
            </label>
            <input type="password" class="form-control" id="confirm-password" name="confirm-password" required
                [(ngModel)]="confirmPassword" />
        </div>
    </div>
    <div class="d-grid gap-2 col-12">
        <button [disabled]="isSubmitting || (password.length <= 0 || email.length <= 0 || confirmPassword.length <= 0)"
            (click)="registerAction()" type="button" class="btn btn-primary btn-block">Register Now</button>
    </div>
</form>