  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2036 <a href="#">Cyborg Gaming</a> Company. All rights reserved.<br />
            <em>Star Wars</em> and all associated images, trademarks, and content are property of <span style="color:white;">Wizards of the Coast <i class="fa-brands fa-wizards-of-the-coast"></i></span><br />
            No claim is intended or made to these items by the author of this site.</p>
<a href="https://dd.servegame.com/privacy-policy/">Privacy Policy</a>
<a href="#" id="returnToTop" title="Return to Top">&#9650;</a> <script src="script.js"></script>
        </div>
      </div>
    </div>
  </footer>