h4 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
h3 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.top-header th {
  padding-top: 8px;
  padding-bottom: 0px;
  border-bottom: none !important;
}
.bottom-header th {
  padding-top: 0px;
  padding-bottom: 8px;
  border-top: none;
}
th {
  background-color: #475055;
}
th, td {
  text-align: center;
}
td img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}