<header class="header header-sticky">

    <nav class="navbar fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html" title="Home">
                <img class="d-inline-block align-text-top logo">
            </a>

            <ng-container *ngIf="authService.isAuthenticated(); else anonymousTemplate">
                <a [routerLink]="['/cards/cardlist']" class="nav-link">Browse Cards</a>
                <a class="nav-link" href="#">Pricing</a>
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </ng-container>
            <ng-template #anonymousTemplate>

                <a [routerLink]="['/cards/cardlist']" class="nav-link">Browse Cards</a>

            </ng-template>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                <!--//TODO card-search.component.ts ==> onSubmit() -->
            </form>
            <span class="navbar-text">
                <button *ngIf="!authService.getAuthenticatedUser()" class="btn btn-primary" (click)="openModal('login')">Login</button>

                <div *ngIf="authService.getAuthenticatedUser()" class="row">
                    <div class="col-3">
                        <img class="icon-3x" [src]="this._authService.getAuthenticatedUser()?.avatarUrl" alt="Profile">
                    </div>
                    <div class="col">
                        <a [routerLink]="['/profile']" class="nav-link" title="Profile"><i class="fa fa-circle-user"></i>{{ authService.getAuthenticatedUser()?.userName }}</a>
                        <a class="nav-link" href="#" (click)="logout()" title="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
                    </div>
                </div>
            </span>
        </div>
    </nav>
<!-- Old nav, kept for reference on future development
    <nav class="navbar navbar-dark bg-dark">
        <a href="index.html" class="navbar-brand">
            <img alt="" class="d-inline-block align-text-top logo">
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#headerNavBar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse hide" id="headerNavBar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="profile.html" class="nav-link"><img class="icon" [src]="authService.getAuthenticatedUser()?.avatarUrl" alt=""> Profile</a></li>
                <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a [routerLink]="['/cards/cardlist']" class="nav-link">Browse Cards</a></li>
                <li class="nav-item"><a class="dropdown-item" href="#"><i class="fa-solid fa-sim-card"></i> My Favorite Cards</a></li>
                <li class="nav-item"><a [routerLink]="['decks/deckbuilder']" class="nav-link">Deck Builder</a></li>
                <li class="nav-item"><a class="dropdown-item" [routerLink]="['decks/deckbuilder']"><i class="fa-solid fa-list-check"></i> My Decks</a></li>
                <li class="nav-item" *ngIf="authService.getAuthenticatedUser()"><a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
            </ul>
        </div>
    </nav>
-->
</header>

<!-- Modal -->
<div 
    class="modal fade loginBox" 
    id="loginModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="loginModalLabel" 
    aria-hidden="true" 
    (click)="closeModal('login', $event)"
>
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Login</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal('login')"></button>
        </div>
        <div class="modal-body">
            <app-login (loginSuccess)="closeModal('login')"></app-login>
        </div>
        <div class="modal-footer">
            <button 
                type="button" 
                class="btn btn-primary" 
                (click)="openModal('register')"
            >Register</button>
            <button 
                type="button" 
                class="btn btn-secondary" 
                data-bs-dismiss="modal"
                (click)="closeModal('register')"
            >Close</button>
        </div>
    </div>
  </div>
</div>

<div 
    class="modal fade" 
    id="registerModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="registerModalLabel" 
    aria-hidden="true" 
    (click)="closeModal('register',$event)"
>
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-title">
        </div>
        <div class="modal-header">
            <h5 class="modal-title" id="registerModalLabel">Register</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal('register')"></button>
        </div>
        <div class="modal-body">
            <app-register (loginSuccess)="closeModal('register')"></app-register>
        </div>
        <div class="modal-footer row">
            <div class="col">
                <div class="info-icon-wrapper">
                    <span class="badge bg-secondary"><i class="fa fa-exclamation text-info" aria-hidden="true"></i></span>&nbsp;Data Policy
                    <div class="info-content">
                        <strong><a href="#">Cyborg Gaming</a> Company</strong> uses data that you create in our database from one session to another. This data may include, but is not limited to: collections of cards, known as <code>Decks</code>; a record of <code>Games</code>, present and past, played with other <code>Player</code>s; and your preferred name and email address, as a <code>User</code> of this system. No information is ever shared or sold with anyone outside of this web site.
                    </div>
                </div>
            </div>
            <div class="col-5">
                <p className="text-center">Already have an account? <a href="javascript:;" (click)="openModal('login')">Login here</a></p>
            </div>
        </div>
    </div>
  </div>
</div>
