.main-banner {
  background-image: url(/assets/images/banner-bg.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
}

.main-banner h6 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 25px;
  text-align: left;
}

.main-banner h4 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.main-banner h4 em {
  font-style: normal;
  color: #ec6090;
}

.most-popular-cards {
  margin-top: 15px;
  padding: 5px;
  background-color: #1f2122;
  border-radius: 23px;
  text-align: left;
}

.most-popular-cards .heading-section {
  color: #ec6090;
  text-align: left;
}
h2 {
  color: white;
}
p {
  color: cornflowerblue;
}