@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:300');

.offcanvas-toolbar {
    height: 75px;
    width: 100%;
}
.offcanvas-header {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.FABMenu {
    position: absolute;
    top: 0px;
    left: 75%;
    transform: translateX(-50%);
    right: 0;
    margin: auto;
    width: 600px;
    height: 150px;
}

.FABMenu input {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 80px;
    height: 80px;
    z-index: 20;
    border-radius: 80px;
    opacity: 0;
    cursor: pointer;
}

.hamburger {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 80px;
    height: 80px;
    background-color: #30343F;
    border-radius: 100%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    z-index: 10;
    cursor: pointer;
}

.dots span {
    position: absolute;
    top: 45%;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #fff;
    z-index: 20;
    transition: all .3s ease-in-out;
}

.first {
    margin-left: 1em;
}

.second {
    margin-left: 2.3em;
}

.third {
    margin-left: 3.6em;
}

.FABMenu input:checked~.hamburger .dots .first {
    top: 20px;
    height: 60px;
    transform-origin: top;
    transform: rotate(-45deg);
    transition: all .3s ease-in-out;

}

.FABMenu input:checked~.hamburger .dots .third {
    top: 20px;
    height: 60px;
    transform-origin: top;
    transform: rotate(45deg);
    transition: all .3s ease-in-out;
}

.action_items_bar {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 380px;
    height: 60px;
    background-color: #30343F;
    border-radius: 60px;
    box-shadow: 0px 5px 20px #1B2021;
    z-index: 5;
    color: #FFD9DA;

    /*   animation-name: expand-the-bar;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; */
    transform: scaleX(0);
    transition: all .3s ease-in-out;
}

.FABMenu input:checked~.action_items_bar {
    transform: scaleX(1);
}
.action_items span {
    position: absolute;
    top: 25%;
    width: 20px;
    padding-left: 35px;
    opacity: 0;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.first_item {
    left: 0%;
}

.second_item {
    left: 15%;
}

.third_item {
    left: 55%;
}

.fourth_item {
    left: 70%;
}

.FABMenu input:checked~.action_items_bar .action_items .first_item {
    opacity: 1;
    transition-delay: .45s;
}

.FABMenu input:checked~.action_items_bar .action_items .second_item {
    opacity: 1;
    transition-delay: .40s;
}

.FABMenu input:checked~.action_items_bar .action_items .third_item {
    opacity: 1;
    transition-delay: .40s;
}

.FABMenu input:checked~.action_items_bar .action_items .fourth_item {
    opacity: 1;
    transition-delay: .45s;
}

.subnav {
    float: left;
    overflow: hidden;
}
.subnavbtn {
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.subnav:hover .subnavbtn, .subnavbtn:hover .subnavbtn {
    background-color: #30343F;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #30343F;
    border-radius: 45px;
    box-shadow: 0px 5px 20px #1B2021;
    z-index: 1;
    width: 100%;
}

.subnav-content a, .subnav-content button {
    background-color: #30343F;
    float: left;
    color: #FFD9DA;
    text-decoration: none;
    width: 150px;
}

.subnav-content a:hover, .subnav-content button:hover {
    background-color: #30343F;
    color: #FFD9DA;
    box-shadow: 0px 5px 20px 5px #ebb8af;
}

.subnavbtn:hover, .subnav:hover .subnav-content {
    display: block;
}

/*******************************/

.searchPage {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 23px;
    padding: 30px;
}

.page-content {
    width: 95%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    padding: 20px;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    /* Distance from the bottom */
    right: 20px;
    /* Distance from the right */
    background-color: #007BFF;
    /* Button color */
    color: white;
    /* Text color */
    padding: 10px 20px;
    /* Padding */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    text-decoration: none;
    /* No underline */
    font-size: 16px;
    /* Font size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    transition: background-color 0.3s;
    /* Transition effect */
}

.fixed-button:hover {
    background-color: #0056b3 !important;
}

.vertical-scroll-container {
    width: auto;
    height: 80%;
    overflow-y: scroll;
    padding: 10px;
    border-color: softgray solid 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.quantity-input {
    width: 75px;
}

.item-image-s {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 240px;
}

.product h5 {
    color: #ec6090;
}